.choice
	.container
		.row
			.col-sm-11.col-lg-8
				.choice__slogan.wow.bounceInLeft(data-wow-duration="2s")
					| 15 лет – это, конечно, тоже не завтра. Но представьте, что они 
					| прошли. Захотите вы заниматься укреплением фундамента 
					| или вернуться в прошлое за другим выбором?
				a(href="#call").btn.btn-green.btn-arrow.choice__btn.fancy.wow.pulse(data-wow-iteration="3", data-wow-duration="2s")
					| Правильный выбор

