.choice
	.container
		.row
			.col-sm-11.col-lg-8
				.choice__slogan.wow.bounceInLeft(data-wow-duration="2s")
					| Забивные сваи это изделия в виде мощного стержня квадратного сечения, имеющие с одной стороны заостренный конец. Сваи изготавливаются из бетона класса В 22,5-В 25 на гранитном щебне. Данная технология положительно оценена Госстроем РФ.
				a(href="#call").btn.btn-green.btn-arrow.choice__btn.fancy.wow.pulse(data-wow-iteration="3", data-wow-duration="2s")
					| ЗАДАТЬ ВОПРОС

