.edge
	.container
		.row
			.col-xs-14
				h2.edge__title.text-uppercase.header-decoration.wow.bounce(data-wow-duration="2s")
					| Преимущества 
					br
					| фундамента на ЖБ сваях
		.row
			.col-xs-14.col-sm-7
				.edge__item.wow.bounceInLeft(data-wow-delay="0s", data-wow-duration="2s")
					header.edge__item-header
						.edge__item-pr
							.i-edge-1
						.edge__item-title
							| Проверенное 
							br
							| качество
					.edge__item-desc
						| Сваи изготавливаются по ГОСТу на заводе, поставляющем ЖБ сваи для застройщиков.
			.col-xs-14.col-sm-7
				.edge__item.edge__item--second.wow.bounceInLeft(data-wow-delay="0.1s", data-wow-duration="2s")
					header.edge__item-header
						.edge__item-pr
							.i-edge-2
						.edge__item-title
							| Оперативность
					.edge__item-desc
						| На возведение фундамента требуется всего 1-2 дня, а продолжать строительные работы можно сразу же.
		.row
			.col-xs-14.col-sm-7
				.edge__item.wow.bounceInLeft(data-wow-delay="0s", data-wow-duration="2s")
					header.edge__item-header
						.edge__item-pr
							.i-edge-3
						.edge__item-title
							| Круглогодичность
					.edge__item-desc
						| Мы возводим фундамент на сваях даже зимой, при этом забиваем их ниже уровня промерзания
			.col-xs-14.col-sm-7
				.edge__item.edge__item--second.wow.bounceInLeft(data-wow-delay="0.1s", data-wow-duration="2s")
					header.edge__item-header
						.edge__item-pr
							.i-edge-4
						.edge__item-title
							| Устойчивость к 
							br
							| условиям
					.edge__item-desc
						| Сваям не страшны камни в грунте, движение пород, грунтовые воды, коррозия и т.д.
		.row
			.col-xs-14.col-sm-7
				.edge__item.wow.bounceInLeft(data-wow-delay="0s", data-wow-duration="2s")
					header.edge__item-header
						.edge__item-pr
							.i-edge-5
						.edge__item-title
							| Универсальность
					.edge__item-desc
						| Железобетонные сваи подойдут даже для сложных участков, с перепадами высот и слабым грунтом.
			.col-xs-14.col-sm-7
				.edge__item.edge__item--second.wow.bounceInLeft(data-wow-delay="0.1s", data-wow-duration="2s")
					header.edge__item-header
						.edge__item-pr
							.i-edge-6
						.edge__item-title
							| Максимальная 
							br
							| надёжность
					.edge__item-desc
						| Каждая свая выдерживает нагрузку от 10 до 30тонн, в зависимости от свойств грунта.