.edge
	.container
		.row
			.col-xs-14
				h2.edge__title.text-uppercase.header-decoration.wow.bounce(data-wow-duration="2s")
					| Почему выбирают фундамент на забивных жб сваях
		.row
			.col-xs-14.col-sm-7
				.edge__item.wow.bounceInLeft(data-wow-delay="0s", data-wow-duration="2s")
					header.edge__item-header
						.edge__item-pr
							.i-edge-1
						.edge__item-title
							| Уверенность 
							br
							| в качестве 
					.edge__item-desc
						| Сваи изготавливаются по ГОСТу 19804-2012, на заводе, имеющем сертифицированную лабораторию и ОТК 
			.col-xs-14.col-sm-7
				.edge__item.edge__item--second.wow.bounceInLeft(data-wow-delay="0.1s", data-wow-duration="2s")
					header.edge__item-header
						.edge__item-pr
							.i-edge-2
						.edge__item-title
							| Высокая скорость 
							br
							| строительства 
					.edge__item-desc
						| Сокращение сроков строительства фундамента на 85%, а продолжать строительные работы можно сразу же 
		.row
			.col-xs-14.col-sm-7
				.edge__item.wow.bounceInLeft(data-wow-delay="0s", data-wow-duration="2s")
					header.edge__item-header
						.edge__item-pr
							.i-edge-3
						.edge__item-title
							| Строим 
							br
							| круглый год
					.edge__item-desc
						| Мы возводим фундаменты даже зимой, при этом не увеличивая стоимости работ  
			.col-xs-14.col-sm-7
				.edge__item.edge__item--second.wow.bounceInLeft(data-wow-delay="0.1s", data-wow-duration="2s")
					header.edge__item-header
						.edge__item-pr
							.i-edge-4
						.edge__item-title
							| Отсутствие 
							br
							| человеческого фактора 
					.edge__item-desc
						| При производстве работ , человеческий фактор сведен к минимуму
		.row
			.col-xs-14.col-sm-7
				.edge__item.wow.bounceInLeft(data-wow-delay="0s", data-wow-duration="2s")
					header.edge__item-header
						.edge__item-pr
							.i-edge-5
						.edge__item-title
							| Широкая 
							br
							| сфера применения 
					.edge__item-desc
						| Особенно ощутим эффект при строительстве на участках со сложным ландшафтом и слабых грунтах
			.col-xs-14.col-sm-7
				.edge__item.edge__item--second.wow.bounceInLeft(data-wow-delay="0.1s", data-wow-duration="2s")
					header.edge__item-header
						.edge__item-pr
							.i-edge-6
						.edge__item-title
							| Максимальная 
							br
							| надёжность
					.edge__item-desc
						| Расчеты производятся на основании проекта дома и геологических изысканий. При наличии всей проектной документации, увеличение гарантии в 2 раза! 