.future
	.container
		.row
			.col-xs-14
				h2.future__title.text-uppercase.header-decoration.wow.bounce(data-wow-duration="2s")
					| ОБЛАСТЬ ПРИМЕНЕНИЯ НАШИХ ФУНДАМЕНТОВ
				.future__items
					.future__item.future__item-1.wow.bounceInLeft(data-wow-duration="2s")
						| Береговое 
						br
						| укрепление, пирс 
						br
						| или причал
					.future__item.future__item-2.wow.bounceInLeft(data-wow-delay="0.2s", data-wow-duration="2s")
						| Кирпичный дом, 
						br
						| гараж или ангар
					.future__item.future__item-3.wow.bounceInLeft(data-wow-delay="0.4s", data-wow-duration="2s")
						| Здание из 
						br
						| пеноблока или 
						br
						| газобетона
					.future__item.future__item-4.wow.bounceInLeft(data-wow-delay="0.6s", data-wow-duration="2s")
						| Деревянный 
						br
						| дом или баню
					.future__item.future__item-5.wow.bounceInLeft(data-wow-delay="0.8s", data-wow-duration="2s")
						| Коммерческое 
						br
						| сооружение 
						br
						| или павильон
					.future__item.future__item-6.wow.bounceInLeft(data-wow-delay="1s", data-wow-duration="2s")
						| Промышленное 
						br
						| строение или 
						br
						| что-либо ещё
				h2.future__second-title.text-uppercase.wow.bounceInDown(data-wow-duration="2s")
					| МЫ СТРОИМ ФУНДАМЕНТЫ НА ЗАБИВНЫХ ЖБ СВАЯХ
