header.header
	.container
		.row
			.col-xs-14.col-sm-2.col-lg-2
				img.header__logo(src="images/logo.svg", alt="Логотип: Сваяж", width="336", height="120")
			.col-xs-14.col-sm-12.col-lg-offset-2.col-lg-10
				ul.contacts.header__contacts
					li.contacts__item.contacts__item--target
						| г. Нижний Новгород, 
						br
						| пр-кт Ленина, д. 11, офис 416
					li.contacts__item.contacts__item--mail
						a(href="mailto:svayazh@gmail.com")
							| svayazh@gmail.com
					li.contacts__item.contacts__item--phone
						a(href="tel:+78314100510")
							| (831) 410 05 10
						br
						a(href="tel:+78314243304")
							| (831) 424 33 04
				
