title Сваяж
meta(charset="UTF-8")
meta(name="SKYPE_TOOLBAR", content="SKYPE_TOOLBAR_PARSER_COMPATIBLE")
meta(content="telephone=no", name="format-detection")
meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
meta(name="google-site-verification", content="E6Sei7mfTMljr_4QaMykOoft6Wum8c10JYSz6ygB1eo")
link(rel="icon", href="favicon.ico")
link(rel="SHORTCUT ICON", href="favicon.ico")
link(rel="stylesheet", href="css/bootstrap.css")
link(rel="stylesheet", href="css/style.css")
link(rel="stylesheet", href="bower/slick-carousel/slick/slick.css")
link(rel="stylesheet", href="bower/fancybox/source/jquery.fancybox.css")
link(rel="stylesheet", href="bower/animate.css/animate.min.css")
link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&subset=cyrillic")