title Сваяж
meta(charset="UTF-8")
meta(name="SKYPE_TOOLBAR", content="SKYPE_TOOLBAR_PARSER_COMPATIBLE")
meta(content="telephone=no", name="format-detection")
meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
meta(name="google-site-verification", content="E6Sei7mfTMljr_4QaMykOoft6Wum8c10JYSz6ygB1eo")
link(rel="icon", href="favicon.png")
link(rel="SHORTCUT ICON", href="favicon.png")
link(rel="stylesheet", href="css/bootstrap.css")
link(rel="stylesheet", href="css/style.css")
