- var items = [];
- items.push({"n": 1, "date": "Август 2016 год", "comment": "дер. Инютино"});
- items.push({"n": 2, "date": "Август 2016 год", "comment": "дер. Инютино"});
- items.push({"n": 3, "date": "Август 2016 год", "comment": "дер. Инютино"});
- items.push({"n": 4, "date": "Август 2016 год", "comment": "дер. Инютино"});
- items.push({"n": 5, "date": "Август 2016 год", "comment": "дер. Инютино"});
- items.push({"n": 6, "date": "Август 2016 год", "comment": "дер. Инютино"});
- items.push({"n": 7, "date": "Август 2016 год", "comment": "дер. Инютино"});
- items.push({"n": 8, "date": "Август 2016 год", "comment": "дер. Инютино"});
- items.push({"n": 9, "date": "Август 2016 год", "comment": "дер. Инютино"});
- items.push({"n": 10, "date": "Август 2016 год", "comment": "дер. Инютино"});
- items.push({"n": 11, "date": "Август 2016 год", "comment": "дер. Михальчиково"});
- items.push({"n": 12, "date": "Август 2016 год", "comment": "дер. Михальчиково"});
- items.push({"n": 13, "date": "Август 2016 год", "comment": "дер. Михальчиково"});
- items.push({"n": 14, "date": "Август 2016 год", "comment": "дер. Михальчиково"});
- items.push({"n": 15, "date": "Август 2016 год", "comment": "дер. Михальчиково"});
- items.push({"n": 16, "date": "Август 2016 год", "comment": "дер. Михальчиково"});
- items.push({"n": 17, "date": "Август 2016 год", "comment": "дер. Михальчиково"});
- items.push({"n": 18, "date": "Август 2016 год", "comment": "дер. Михальчиково"});
- items.push({"n": 19, "date": "Август 2016 год", "comment": "дер. Бурцево"});
- items.push({"n": 20, "date": "Август 2016 год", "comment": "дер. Бурцево"});
- items.push({"n": 21, "date": "Август 2016 год", "comment": "дер. Бурцево"});
- items.push({"n": 22, "date": "Август 2016 год", "comment": "дер. Бурцево"});
- items.push({"n": 23, "date": "Август 2016 год", "comment": "дер. Бурцево"});
- items.push({"n": 24, "date": "Август 2016 год", "comment": "дер. Бурцево"});
- items.push({"n": 25, "date": "Август 2016 год", "comment": "дер. Бурцево"});
- items.push({"n": 26, "date": "Август 2016 год", "comment": "дер. Бурцево"});
- items.push({"n": 27, "date": "Август 2016 год", "comment": "дер. Бурцево"});
- items.push({"n": 28, "date": "Август 2016 год", "comment": "дер. Бурцево"});
- items.push({"n": 29, "date": "Август 2016 год", "comment": "дер. Бурцево"});
- items.push({"n": 30, "date": "Август 2016 год", "comment": "дер. Бурцево"});
- items.push({"n": 31, "date": "Август 2016 год", "comment": "дер. Бурцево"});
- items.push({"n": 32, "date": "Август 2016 год", "comment": "дер. Бурцево"});
- items.push({"n": 33, "date": "Август 2016 год", "comment": "дер. Бурцево"});
- items.push({"n": 34, "date": "Август 2016 год", "comment": "дер. Бурцево"});
- items.push({"n": 35, "date": "Август 2016 год", "comment": "дер. Бурцево"});
- items.push({"n": 36, "date": "Август 2016 год", "comment": "дер. Бурцево"});
- items.push({"n": 37, "date": "Август 2016 год", "comment": "дер. Бурцево"});
- items.push({"n": 38, "date": "Август 2016 год", "comment": "дер. Бурцево"});
- items.push({"n": 39, "date": "Август 2016 год", "comment": "дер. Бурцево"});
- items.push({"n": 40, "date": "Август 2016 год", "comment": "дер. Бурцево"});
- items.push({"n": 41, "date": "Август 2016 год", "comment": "дер. Новая Березовка"});
- items.push({"n": 42, "date": "Август 2016 год", "comment": "дер. Новая Березовка"});
- items.push({"n": 43, "date": "Август 2016 год", "comment": "дер. Новая Березовка"});
- items.push({"n": 44, "date": "Август 2016 год", "comment": "дер. Новая Березовка"});
- items.push({"n": 45, "date": "Август 2016 год", "comment": "дер. Новая Березовка"});
- items.push({"n": 46, "date": "Август 2016 год", "comment": "дер. Новая Березовка"});
- items.push({"n": 47, "date": "Август 2016 год", "comment": "дер. Новая Березовка"});
- items.push({"n": 48, "date": "Август 2016 год", "comment": "дер. Новая Березовка"});
- items.push({"n": 49, "date": "Август 2016 год", "comment": "дер. Новая Березовка"});
- items.push({"n": 50, "date": "Август 2016 год", "comment": "дер. Новая Березовка"});
- items.push({"n": 51, "date": "Август 2016 год", "comment": "дер. Новая Березовка"});
- items.push({"n": 52, "date": "Август 2016 год", "comment": "дер. Новая Березовка"});
- items.push({"n": 53, "date": "Август 2016 год", "comment": "дер. Новая Березовка"});
- items.push({"n": 54, "date": "Август 2016 год", "comment": "дер. Новая Березовка"});
- items.push({"n": 55, "date": "Октябрь 2016 год", "comment": "дер. Новая Березовка"});
- items.push({"n": 56, "date": "Октябрь 2016 год", "comment": "дер. Новая Березовка"});
- items.push({"n": 57, "date": "Октябрь 2016 год", "comment": "дер. Новая Березовка"});
- items.push({"n": 58, "date": "Октябрь 2016 год", "comment": "к.п. Лето"});
- items.push({"n": 59, "date": "Октябрь 2016 год", "comment": "к.п. Лето"});
- items.push({"n": 60, "date": "Октябрь 2016 год", "comment": "к.п. Лето"});
- items.push({"n": 61, "date": "Октябрь 2016 год", "comment": "пос. Ждановский"});
- items.push({"n": 62, "date": "Октябрь 2016 год", "comment": "пос. Ждановский"});
- items.push({"n": 63, "date": "Октябрь 2016 год", "comment": "пос. Ждановский"});
- items.push({"n": 64, "date": "Октябрь 2016 год", "comment": "пос. Ждановский"});
- items.push({"n": 65, "date": "Октябрь 2016 год", "comment": "Боталово"});
- items.push({"n": 66, "date": "Октябрь 2016 год", "comment": "Боталово"});
- items.push({"n": 67, "date": "Октябрь 2016 год", "comment": "Бурцево"});
- items.push({"n": 68, "date": "Октябрь 2016 год", "comment": "Бурцево"});
- items.push({"n": 69, "date": "Октябрь 2016 год", "comment": "Бурцево"});
- items.push({"n": 70, "date": "Октябрь 2016 год", "comment": "Бурцево"});
- items.push({"n": 71, "date": "Октябрь 2016 год", "comment": "Бурцево"});
- items.push({"n": 72, "date": "Октябрь 2016 год", "comment": "Бурцево"});
- items.push({"n": 73, "date": "Октябрь 2016 год", "comment": "Бурцево"});
- items.push({"n": 74, "date": "Октябрь 2016 год", "comment": "Бурцево"});
- items.push({"n": 75, "date": "Октябрь 2016 год", "comment": "Бурцево"});
- items.push({"n": 76, "date": "Октябрь 2016 год", "comment": "Бурцево"});
- items.push({"n": 77, "date": "Декабрь 2016 год", "comment": "Дер. Юловка"});
- items.push({"n": 78, "date": "Ноябрь 2016 год", "comment": "Афонино"});
- items.push({"n": 79, "date": "Ноябрь 2016 год", "comment": "Афонино"});
- items.push({"n": 80, "date": "Ноябрь 2016 год", "comment": "Нижний Новгород"});
- items.push({"n": 81, "date": "Ноябрь 2016 год", "comment": "Пос. Мыс"});
- items.push({"n": 82, "date": "Ноябрь 2016 год", "comment": "Сергач"});
- items.push({"n": 83, "date": "Февраль 2017 год", "comment": "Ефимьево"});
- items.push({"n": 84, "date": "Февраль 2017 год", "comment": "Ефимьево"});
- items.push({"n": 85, "date": "Февраль 2017 год", "comment": "Ефимьево"});
- items.push({"n": 86, "date": "Январь 2017", "comment": "к.п. Чистые ключи"});
- items.push({"n": 87, "date": "Январь 2017", "comment": "к.п. Чистые ключи"});
- items.push({"n": 88, "date": "Январь 2017", "comment": "к.п. Чистые ключи"});
- items.push({"n": 89, "date": "Январь 2017", "comment": "к.п. Чистые ключи"});