main.main
	.container
		.row
			.col-xs-14
				.main__figure.clearfix
					h1.main__title.text-uppercase.wow.bounceInUp(data-wow-duration="2s")
						| Строим надежные фундаменты
					p.main__slogan.text-uppercase.wow.bounceInLeft(data-wow-delay="0.3s", data-wow-duration="2s")
						| для дач и коттеджей круглый год за 1-2 дня
					.main__place
						p.main__place-text.wow.bounceInLeft(data-wow-delay="0.3s", data-wow-duration="2s")
							| Мы произведем все необходимые расчеты и предложим Вам проект надежного фундамента который поможет сэкономить Вам время, деньги и нервы. 
						a.btn.btn-green.btn-block.btn-arrow.fancy.wow.pulse(href="#call", data-wow-iteration="3", data-wow-duration="2s")
							| заказать бесплатную 
							br.visible-xs
							| консультацию