main.main
	.container
		.row
			.col-xs-14
				.main__figure.clearfix
					h1.main__title.text-uppercase.wow.bounceInUp(data-wow-duration="2s")
						| Вековой фундамент
					p.main__slogan.text-uppercase.wow.bounceInLeft(data-wow-delay="0.3s", data-wow-duration="2s")
						| Наш фундамент прослужит Вам не менее 100 лет! 
						br
						| Железобетонные сваи устоят там, где другие не выдержат
					.main__place
						p.main__place-text.wow.bounceInLeft(data-wow-delay="0.3s", data-wow-duration="2s")
							| Конечно, Вы можете не задумываться о жизни через столетие в целом и своих 
							| наследниках в частности. Но если цены схожи, почему не сделать «на века»? 
							br
							| Закажите забивные ЖБ сваи сразу или листайте дальше, чтобы узнать больше
						a.btn.btn-green.btn-block.btn-arrow.fancy.wow.pulse(href="#call", data-wow-iteration="3", data-wow-duration="2s")
							| Заказать вековой 
							br.visible-xs
							| фундамент