.partners
	.container
		.row
			.col-xs-14
				h2.partners__title.text-uppercase.header-decoration.wow.bounce(data-wow-duration="2s")
					| Наши партнеры
				.partners__slider
					div
						.partners__slide
							a(href="http://ARCLIP.ru" target="_blank")
								img.partners__logo(src="images/partners/1.png", alt="ARCLIP")
					div
						.partners__slide
							a(href="http://rada-nn.ru/" target="_blank")
								img.partners__logo(src="images/partners/2.png", alt="Рада строй")
					div
						.partners__slide
							a(href="http://gwd.ru" target="_blank")
								img.partners__logo(src="images/partners/3.png", alt="GOOD WOOD")
					div
						.partners__slide
							a(href="http://www.rodnoy-d.ru" target="_blank")
								img.partners__logo(src="images/partners/4.png", alt="Родной дом который любят")
					div
						.partners__slide
							a(href="http://teremok-nnov.ru" target="_blank")
								img.partners__logo(src="images/partners/5.png", alt="Теремкофф")
					div
						.partners__slide
							a(href="http://svarog.in" target="_blank")
								img.partners__logo(src="images/partners/6.png", alt="Сварог")
					div
						.partners__slide
							a(href="http://vlmstroi.ru" target="_blank")
								img.partners__logo(src="images/partners/7.png", alt="Ваш личный мастер")
					div
						.partners__slide
							a(href="http://severles-nn.ru" target="_blank")
								img.partners__logo(src="images/partners/8.png", alt="Северлес")
					div
						.partners__slide
							a(href="http://www.mzp52.ru" target="_blank")
								img.partners__logo(src="images/partners/9.png", alt="Деревянные конструкции")