.partners
	.container
		.row
			.col-xs-14
				h2.partners__title.text-uppercase.header-decoration.wow.bounce(data-wow-duration="2s")
					| Наши партнеры
				.partners__slider
					div
						.partners__slide
							a(href="http://ARCLIP.ru" target="_blank")
								img.partners__logo(src="images/partners/1.png", alt="ARCLIP")
					div
						.partners__slide
							a(href="http://rada-stroy.ru/" target="_blank")
								img.partners__logo(src="images/partners/2.png", alt="Рада строй")
					div
						.partners__slide
							a(href="http://gwd.ru" target="_blank")
								img.partners__logo(src="images/partners/3.png", alt="GOOD WOOD")
					div
						.partners__slide
							a(href="http://ARCLIP.ru" target="_blank")
								img.partners__logo(src="images/partners/1.png", alt="ARCLIP")
					div
						.partners__slide
							a(href="http://rada-stroy.ru/" target="_blank")
								img.partners__logo(src="images/partners/2.png", alt="Рада строй")
					div
						.partners__slide
							a(href="http://gwd.ru" target="_blank")
								img.partners__logo(src="images/partners/3.png", alt="GOOD WOOD")
