.price
	.container
		.row
			.col-xs-14
				h2.price__title.header-decoration.text-uppercase.wow.bounce(data-wow-duration="2s")
					| Стоимость
				.price__place.wow.bounceInLeft(data-wow-duration="2s")
					p
						| Железобетонные сваи не самые дешёвые. Но самые экономичные.
					p
						| Судите сами: в таблице приведены цены на ЖБ сваи с учётом доставки и проведения работ.
						| В тот же день Вы сможете продолжить строительство и не вспоминать о фундаменте 
						| целое столетие! В отличие от других видов – требующих гораздо большего количества свай
						| под фундамент, периодического ухода и укрепления. Сравнивать стоимость единицы 
						| или фундамента в целом – решать Вам.
					p
						b
							| В таблице приведены цены на ЖБ сваи с учетом доставки и проведения работ
				
				p.price__tooltip.visible-xs
					b
						| Подсказка: Таблицу можно скроллить влево и право						
				.price__table-wrap
					table.price__table
						tr.wow.bounceInLeft(data-wow-duration="2s")
							th
								| Кол-во свай
							th
								| От 101 сваи 
								br
								| и выше
							th
								| от 51-100 свай
							th
								| от 21-50 свай
							th
								| от 1-20 свай
						tr.wow.bounceInLeft(data-wow-duration="2s")
							td(colspan="5").delimiter
								| Стоимость одной забитой сваи размером 150 х 150 х 3000
						tr.wow.bounceInLeft(data-wow-duration="2s")
							td
								b.text-uppercase
									| Цена в черте города
							td
								| 4 000 
								span.rubl
									| q
							td
								span.x16
									| 4 500 
									span.rubl
										| q
							td
								b.x18
									| 5 000 
									span.rubl
										| q
							td
								b.x20
									| 5 500 
									span.rubl
										| u 
						tr.wow.bounceInLeft(data-wow-duration="2s")
							td(colspan="5").delimiter
								| Стоимость одной забитой сваи размером 150 х 150 х 4000
						tr.wow.bounceInLeft(data-wow-duration="2s")
							td
								b.text-uppercase
									| Цена в черте города
							td
								| 4 500 
								span.rubl
									| q
							td
								span.x16
									| 5 000 
									span.rubl
										| q
							td
								b.x18
									| 5 500 
									span.rubl
										| q
							td
								b.x20
									| 6 000
									span.rubl
										| u 
						tr.wow.bounceInLeft(data-wow-duration="2s")
							td(colspan="5").delimiter
								| Стоимость одной забитой сваи размером 200 х 200 х 3000
						tr.wow.bounceInLeft(data-wow-duration="2s")
							td
								b.text-uppercase
									| Цена в черте города
							td
								| 5 000 
								span.rubl
									| q
							td
								span.x16
									| 5 500 
									span.rubl
										| q
							td
								b.x18
									| 6 000 
									span.rubl
										| q
							td
								b.x20
									| 6 500
									span.rubl
										| u 
						tr.wow.bounceInLeft(data-wow-duration="2s")
							td(colspan="5").delimiter
								| Стоимость одной забитой сваи размером 150 х 150 х 4000
						tr.wow.bounceInLeft(data-wow-duration="2s")
							td
								b.text-uppercase
									| Цена в черте города
							td
								| 6 000 
								span.rubl
									| q
							td
								span.x16
									| 6 500 
									span.rubl
										| q
							td
								b.x18
									| 7 000 
									span.rubl
										| q
							td
								b.x20
									| 7 500 
									span.rubl
										| u 
				p.price__slogan.wow.bounceInUp(data-wow-duration="2s")
					| Чтобы узнать стоимость сваи с установкой за городом, 
					br
					| наведите курсор на интересующий размер ЖБ свай.
				a(href="#call").btn.btn-green.btn-arrow.price__btn.fancy.wow.pulse(data-wow-iteration="3", data-wow-duration="2s")
					| Заказать



