.price
	.container
		.row
			.col-xs-14
				h2.price__title.header-decoration.text-uppercase.wow.bounce(data-wow-duration="2s")
					| Стоимость
				.price__place.wow.bounceInLeft(data-wow-duration="2s")
					p
						| Железобетонные сваи не самые дешёвые. Но самые экономичные.
					p
						| Судите сами: в таблице приведены цены на ЖБ сваи с учётом доставки и проведения работ.
						| В тот же день Вы сможете продолжить строительство и не вспоминать о фундаменте 
						| целое столетие! В отличие от других видов – требующих гораздо большего количества свай
						| под фундамент, периодического ухода и укрепления. Сравнивать стоимость единицы 
						| или фундамента в целом – решать Вам.
				
				table.price__table.hidden
					tr
						td(colspan="2").delimiter
							| Забивные железобетонные сваи 150 х 150 х 3000
					tbody
						tr
							td
								| ЖБ сваи 
								br
								| с установкой
							td
								b.text-uppercase
									| Цена в городе
						tr
							td
								| При заказе 
								br
								| от 1-20 свай
							td
								| 5 500 
								span.rubl
									| q
								|  за сваю
						tr
							td
								| При заказе 
								br
								| от 21-50 свай
							td
								span.x16
									| 5 000 
									span.rubl
										| q
								|  за сваю
						tr
							td
								| При заказе 
								br
								| от 51-100 свай
							td
								b.x18
									| 4 500 
									span.rubl
										| q
								|  за сваю
						tr
							td
								| При заказе 
								br
								| От 101 сваи 
								br
								| и выше
							td
								b.x20
									| 4 000 
									span.rubl
										| u 
								|  за сваю
					tbody.addition
						tr
							td
								| ЖБ сваи 
								br
								| с установкой
							td
								b.text-uppercase
									| Цена c доставкой в район до 50 км
						tr
							td
								| При заказе 
								br
								| от 1-20 свай
							td
								| 5 800 
								span.rubl
									| q
								|  за сваю
						tr
							td
								| При заказе 
								br
								| от 21-50 свай
							td
								span.x16
									| 5 300 
									span.rubl
										| q
								|  за сваю
						tr
							td
								| При заказе 
								br
								| от 51-100 свай
							td
								b.x18
									| 4 800 
									span.rubl
										| q
								|  за сваю
						tr
							td
								| При заказе 
								br
								| От 101 сваи 
								br
								| и выше
							td
								b.x20
									| 4 300 
									span.rubl
										| u 
								|  за сваю
					tbody.addition
						tr
							td
								| ЖБ сваи 
								br
								| с установкой
							td
								b.text-uppercase
									| Цена с доставкой в район до 50-100 км
						tr
							td
								| При заказе 
								br
								| от 1-20 свай
							td
								| 6 000 
								span.rubl
									| q
								|  за сваю
						tr
							td
								| При заказе 
								br
								| от 21-50 свай
							td
								span.x16
									| 5 500 
									span.rubl
										| q
								|  за сваю
						tr
							td
								| При заказе 
								br
								| от 51-100 свай
							td
								b.x18
									| 5 000 
									span.rubl
										| q
								|  за сваю
						tr
							td
								| При заказе 
								br
								| От 101 сваи 
								br
								| и выше
							td
								b.x20
									| 4 500 
									span.rubl
										| u 
								|  за сваю
					tbody.addition
						tr
							td
								| ЖБ сваи 
								br
								| с установкой
							td
								b.text-uppercase
									| Цена с доставкой в район до 100-200 км
						tr
							td
								| При заказе 
								br
								| от 1-20 свай
							td
								| 6 300 
								span.rubl
									| q
								|  за сваю
						tr
							td
								| При заказе 
								br
								| от 21-50 свай
							td
								span.x16
									| 5 800 
									span.rubl
										| q
								|  за сваю
						tr
							td
								| При заказе 
								br
								| от 51-100 свай
							td
								b.x18
									| 5 300 
									span.rubl
										| q
								|  за сваю
						tr
							td
								| При заказе 
								br
								| От 101 сваи 
								br
								| и выше
							td
								b.x20
									| 4 800 
									span.rubl
										| u 
								|  за сваю
					tr
						td(colspan="2").delimiter
							| ЖБ сваи 150 х 150 х 4000
					tbody
						tr
							td
								| ЖБ сваи 
								br
								| с установкой
							td
								b.text-uppercase
									| Цена в городе
						tr
							td
								| При заказе 
								br
								| от 1-20 свай
							td
								| 6 000 
								span.rubl
									| q
								|  за сваю
						tr
							td
								| При заказе 
								br
								| от 21-50 свай
							td
								span.x16
									| 5 500 
									span.rubl
										| q
								|  за сваю
						tr
							td
								| При заказе 
								br
								| от 51-100 свай
							td
								b.x18
									| 5 000 
									span.rubl
										| q
								|  за сваю
						tr
							td
								| При заказе 
								br
								| От 101 сваи 
								br
								| и выше
							td
								b.x20
									| 4 500 
									span.rubl
										| u 
								|  за сваю
					tbody.addition
						tr
							td
								| ЖБ сваи 
								br
								| с установкой
							td
								b.text-uppercase
									| Цена c доставкой в район до 50 км
						tr
							td
								| При заказе 
								br
								| от 1-20 свай
							td
								| 6 300 
								span.rubl
									| q
								|  за сваю
						tr
							td
								| При заказе 
								br
								| от 21-50 свай
							td
								span.x16
									| 5 800 
									span.rubl
										| q
								|  за сваю
						tr
							td
								| При заказе 
								br
								| от 51-100 свай
							td
								b.x18
									| 5 300 
									span.rubl
										| q
								|  за сваю
						tr
							td
								| При заказе 
								br
								| От 101 сваи 
								br
								| и выше
							td
								b.x20
									| 4 800 
									span.rubl
										| u 
								|  за сваю
					tbody.addition
						tr
							td
								| ЖБ сваи 
								br
								| с установкой
							td
								b.text-uppercase
									| Цена с доставкой в район до 50-100 км
						tr
							td
								| При заказе 
								br
								| от 1-20 свай
							td
								| 6 500 
								span.rubl
									| q
								|  за сваю
						tr
							td
								| При заказе 
								br
								| от 21-50 свай
							td
								span.x16
									| 6 000 
									span.rubl
										| q
								|  за сваю
						tr
							td
								| При заказе 
								br
								| от 51-100 свай
							td
								b.x18
									| 5 500 
									span.rubl
										| q
								|  за сваю
						tr
							td
								| При заказе 
								br
								| От 101 сваи 
								br
								| и выше
							td
								b.x20
									| 5 000 
									span.rubl
										| u 
								|  за сваю
					tbody.addition
						tr
							td
								| ЖБ сваи 
								br
								| с установкой
							td
								b.text-uppercase
									| Цена с доставкой в район до 100-200 км
						tr
							td
								| При заказе 
								br
								| от 1-20 свай
							td
								| 6 800 
								span.rubl
									| q
								|  за сваю
						tr
							td
								| При заказе 
								br
								| от 21-50 свай
							td
								span.x16
									| 6 300 
									span.rubl
										| q
								|  за сваю
						tr
							td
								| При заказе 
								br
								| от 51-100 свай
							td
								b.x18
									| 5 800 
									span.rubl
										| q
								|  за сваю
						tr
							td
								| При заказе 
								br
								| От 101 сваи 
								br
								| и выше
							td
								b.x20
									| 5 300 
									span.rubl
										| u 
								|  за сваю
					tr
						td(colspan="2").delimiter
							| Фундамент на железобетонных сваях 200 х 200 х 3000
					tbody
						tr
							td
								| ЖБ сваи 
								br
								| с установкой
							td
								b.text-uppercase
									| Цена в городе
						tr
							td
								| При заказе 
								br
								| от 1-20 свай
							td
								| 6 500 
								span.rubl
									| q
								|  за сваю
						tr
							td
								| При заказе 
								br
								| от 21-50 свай
							td
								span.x16
									| 6 000 
									span.rubl
										| q
								|  за сваю
						tr
							td
								| При заказе 
								br
								| от 51-100 свай
							td
								b.x18
									| 5 500 
									span.rubl
										| q
								|  за сваю
						tr
							td
								| При заказе 
								br
								| От 101 сваи 
								br
								| и выше
							td
								b.x20
									| 5 000 
									span.rubl
										| u 
								|  за сваю
					tbody.addition
						tr
							td
								| ЖБ сваи 
								br
								| с установкой
							td
								b.text-uppercase
									| Цена c доставкой в район до 50 км
						tr
							td
								| При заказе 
								br
								| от 1-20 свай
							td
								| 6 800 
								span.rubl
									| q
								|  за сваю
						tr
							td
								| При заказе 
								br
								| от 21-50 свай
							td
								span.x16
									| 6 300 
									span.rubl
										| q
								|  за сваю
						tr
							td
								| При заказе 
								br
								| от 51-100 свай
							td
								b.x18
									| 5 800 
									span.rubl
										| q
								|  за сваю
						tr
							td
								| При заказе 
								br
								| От 101 сваи 
								br
								| и выше
							td
								b.x20
									| 5 300 
									span.rubl
										| u 
								|  за сваю
					tbody.addition
						tr
							td
								| ЖБ сваи 
								br
								| с установкой
							td
								b.text-uppercase
									| Цена с доставкой в район до 50-100 км
						tr
							td
								| При заказе 
								br
								| от 1-20 свай
							td
								| 7 000 
								span.rubl
									| q
								|  за сваю
						tr
							td
								| При заказе 
								br
								| от 21-50 свай
							td
								span.x16
									| 6 500 
									span.rubl
										| q
								|  за сваю
						tr
							td
								| При заказе 
								br
								| от 51-100 свай
							td
								b.x18
									| 6 000 
									span.rubl
										| q
								|  за сваю
						tr
							td
								| При заказе 
								br
								| От 101 сваи 
								br
								| и выше
							td
								b.x20
									| 5 500 
									span.rubl
										| u 
								|  за сваю
					tbody.addition
						tr
							td
								| ЖБ сваи 
								br
								| с установкой
							td
								b.text-uppercase
									| Цена с доставкой в район до 100-200 км
						tr
							td
								| При заказе 
								br
								| от 1-20 свай
							td
								| 7 300 
								span.rubl
									| q
								|  за сваю
						tr
							td
								| При заказе 
								br
								| от 21-50 свай
							td
								span.x16
									| 6 800 
									span.rubl
										| q
								|  за сваю
						tr
							td
								| При заказе 
								br
								| от 51-100 свай
							td
								b.x18
									| 6 300 
									span.rubl
										| q
								|  за сваю
						tr
							td
								| При заказе 
								br
								| От 101 сваи 
								br
								| и выше
							td
								b.x20
									| 5 800 
									span.rubl
										| u 
								|  за сваю
					tr
						td(colspan="2").delimiter
							| ЖБ сваи 150 х 150 х 4000
					tbody
						tr
							td
								| ЖБ сваи 
								br
								| с установкой
							td
								b.text-uppercase
									| Цена в городе
						tr
							td
								| При заказе 
								br
								| от 1-20 свай
							td
								| 7 500 
								span.rubl
									| q
								|  за сваю
						tr
							td
								| При заказе 
								br
								| от 21-50 свай
							td
								span.x16
									| 7 000 
									span.rubl
										| q
								|  за сваю
						tr
							td
								| При заказе 
								br
								| от 51-100 свай
							td
								b.x18
									| 6 500 
									span.rubl
										| q
								|  за сваю
						tr
							td
								| При заказе 
								br
								| От 101 сваи 
								br
								| и выше
							td
								b.x20
									| 6 000 
									span.rubl
										| u 
								|  за сваю
					tbody.addition
						tr
							td
								| ЖБ сваи 
								br
								| с установкой
							td
								b.text-uppercase
									| Цена c доставкой в район до 50 км
						tr
							td
								| При заказе 
								br
								| от 1-20 свай
							td
								| 7 800 
								span.rubl
									| q
								|  за сваю
						tr
							td
								| При заказе 
								br
								| от 21-50 свай
							td
								span.x16
									| 7 300 
									span.rubl
										| q
								|  за сваю
						tr
							td
								| При заказе 
								br
								| от 51-100 свай
							td
								b.x18
									| 6 800 
									span.rubl
										| q
								|  за сваю
						tr
							td
								| При заказе 
								br
								| От 101 сваи 
								br
								| и выше
							td
								b.x20
									| 6 300 
									span.rubl
										| u 
								|  за сваю
					tbody
						tr
							td
								| ЖБ сваи 
								br
								| с установкой
							td
								b.text-uppercase
									| Цена с доставкой в район до 50-100 км
						tr
							td
								| При заказе 
								br
								| от 1-20 свай
							td
								| 8 000 
								span.rubl
									| q
								|  за сваю
						tr
							td
								| При заказе 
								br
								| от 21-50 свай
							td
								span.x16
									| 7 500 
									span.rubl
										| q
								|  за сваю
						tr
							td
								| При заказе 
								br
								| от 51-100 свай
							td
								b.x18
									| 7 000 
									span.rubl
										| q
								|  за сваю
						tr
							td
								| При заказе 
								br
								| От 101 сваи 
								br
								| и выше
							td
								b.x20
									| 6 500 
									span.rubl
										| u 
								|  за сваю
					tbody
						tr
							td
								| ЖБ сваи 
								br
								| с установкой
							td
								b.text-uppercase
									| Цена с доставкой в район до 100-200 км
						tr
							td
								| При заказе 
								br
								| от 1-20 свай
							td
								| 8 300 
								span.rubl
									| q
								|  за сваю
						tr
							td
								| При заказе 
								br
								| от 21-50 свай
							td
								span.x16
									| 7 800 
									span.rubl
										| q
								|  за сваю
						tr
							td
								| При заказе 
								br
								| от 51-100 свай
							td
								b.x18
									| 7 300 
									span.rubl
										| q
								|  за сваю
						tr
							td
								| При заказе 
								br
								| От 101 сваи 
								br
								| и выше
							td
								b.x20
									| 6 800 
									span.rubl
										| u 
								|  за сваю
							
				
				p.price__tooltip.visible-xs
						| Подсказка: Таблицу можно скроллить влево и право
						br
						| Кликните по интересующей вас строке что бы узнать цены за пределами города
				.price__table-wrap
					table.price__table
						tr.wow.bounceInLeft(data-wow-duration="2s")
							th
								| ЖБ сваи 
								br
								| с установкой
							th
								| При заказе 
								br
								| от 1-20 свай
							th
								| При заказе 
								br
								| от 21-50 свай
							th
								| При заказе 
								br
								| от 51-100 свай
							th
								| От 101 сваи 
								br
								| и выше
						tr.wow.bounceInLeft(data-wow-duration="2s")
							td(colspan="5").delimiter
								| Забивные железобетонные сваи 150 х 150 х 3000
						tr.wow.bounceInLeft(data-wow-duration="2s")
							td
								b.text-uppercase
									| Цена в городе
							td
								| 5 500 
								span.rubl
									| q
								|  за сваю
							td
								span.x16
									| 5 000 
									span.rubl
										| q
								|  за сваю
							td
								b.x18
									| 4 500 
									span.rubl
										| q
								|  за сваю
							td
								b.x20
									| 4 000 
									span.rubl
										| u 
								|  за сваю
						tr.addition
							td
								b.text-uppercase
									| Цена с доставкой в район до 50 км
							td
								| 5 800 
								span.rubl
									| q
								|  за сваю
							td
								span.x16
									| 5 300 
									span.rubl
										| q
								|  за сваю
							td
								b.x18
									| 4 800 
									span.rubl
										| q
								|  за сваю
							td
								b.x20
									| 4 300 
									span.rubl
										| u 
								|  за сваю
						tr.addition
							td
								b.text-uppercase
									| Цена с доставкой в район до 50-100 км
							td
								| 6 000 
								span.rubl
									| q
								|  за сваю
							td
								span.x16
									| 5 500 
									span.rubl
										| q
								|  за сваю
							td
								b.x18
									| 5 000 
									span.rubl
										| q
								|  за сваю
							td
								b.x20
									| 4 500 
									span.rubl
										| u 
								|  за сваю
						tr.addition
							td
								b.text-uppercase
									| Цена с доставкой в район до 100-200 км
							td
								| 6 300 
								span.rubl
									| q
								|  за сваю
							td
								span.x16
									| 5 800 
									span.rubl
										| q
								|  за сваю
							td
								b.x18
									| 5 300 
									span.rubl
										| q
								|  за сваю
							td
								b.x20
									| 4 800 
									span.rubl
										| u 
								|  за сваю
						tr.wow.bounceInLeft(data-wow-duration="2s")
							td(colspan="5").delimiter
								| ЖБ сваи 150 х 150 х 4000
						tr.wow.bounceInLeft(data-wow-duration="2s")
							td
								b.text-uppercase
									| Цена в городе
							td
								| 6 000
								span.rubl
									| q
								|  за сваю
							td
								span.x16
									| 5 500 
									span.rubl
										| q
								|  за сваю
							td
								b.x18
									| 5 000 
									span.rubl
										| q
								|  за сваю
							td
								b.x20
									| 4 500 
									span.rubl
										| u 
								|  за сваю
						tr.addition
							td
								b.text-uppercase
									| Цена с доставкой в район до 50 км
							td
								| 6 300 
								span.rubl
									| q
								|  за сваю
							td
								span.x16
									| 5 800 
									span.rubl
										| q
								|  за сваю
							td
								b.x18
									| 5 300 
									span.rubl
										| q
								|  за сваю
							td
								b.x20
									| 4 800 
									span.rubl
										| u 
								|  за сваю
						tr.addition
							td
								b.text-uppercase
									| Цена с доставкой в район до 50-100 км
							td
								| 6 500 
								span.rubl
									| q
								|  за сваю
							td
								span.x16
									| 6 000 
									span.rubl
										| q
								|  за сваю
							td
								b.x18
									| 5 500 
									span.rubl
										| q
								|  за сваю
							td
								b.x20
									| 5 000 
									span.rubl
										| u 
								|  за сваю
						tr.addition
							td
								b.text-uppercase
									| Цена с доставкой в район до 100-200 км
							td
								| 6 800 
								span.rubl
									| q
								|  за сваю
							td
								span.x16
									| 6 300 
									span.rubl
										| q
								|  за сваю
							td
								b.x18
									| 5 800 
									span.rubl
										| q
								|  за сваю
							td
								b.x20
									| 5 300 
									span.rubl
										| u 
								|  за сваю
						tr.wow.bounceInLeft(data-wow-duration="2s")
							td(colspan="5").delimiter
								| Фундамент на железобетонных сваях 200 х 200 х 3000
						tr.wow.bounceInLeft(data-wow-duration="2s")
							td
								b.text-uppercase
									| Цена в городе
							td
								| 6 500
								span.rubl
									| q
								|  за сваю
							td
								span.x16
									| 6 000 
									span.rubl
										| q
								|  за сваю
							td
								b.x18
									| 5 500 
									span.rubl
										| q
								|  за сваю
							td
								b.x20
									| 5 000 
									span.rubl
										| u 
								|  за сваю
						tr.addition
							td
								b.text-uppercase
									| Цена с доставкой в район до 50 км
							td
								| 6 800 
								span.rubl
									| q
								|  за сваю
							td
								span.x16
									| 6 300 
									span.rubl
										| q
								|  за сваю
							td
								b.x18
									| 5 800 
									span.rubl
										| q
								|  за сваю
							td
								b.x20
									| 5 300 
									span.rubl
										| u 
								|  за сваю
						tr.addition
							td
								b.text-uppercase
									| Цена с доставкой в район до 50-100 км
							td
								| 7 000 
								span.rubl
									| q
								|  за сваю
							td
								span.x16
									| 6 500 
									span.rubl
										| q
								|  за сваю
							td
								b.x18
									| 6 000 
									span.rubl
										| q
								|  за сваю
							td
								b.x20
									| 5 500 
									span.rubl
										| u 
								|  за сваю
						tr.addition
							td
								b.text-uppercase
									| Цена с доставкой в район до 100-200 км
							td
								| 7 300 
								span.rubl
									| q
								|  за сваю
							td
								span.x16
									| 6 800 
									span.rubl
										| q
								|  за сваю
							td
								b.x18
									| 6 300 
									span.rubl
										| q
								|  за сваю
							td
								b.x20
									| 5 800 
									span.rubl
										| u 
								|  за сваю
						tr.wow.bounceInLeft(data-wow-duration="2s")
							td(colspan="5").delimiter
								| ЖБ сваи 150 х 150 х 4000
						tr.wow.bounceInLeft(data-wow-duration="2s")
							td
								b.text-uppercase
									| Цена в городе
							td
								| 7 500
								span.rubl
									| q
								|  за сваю
							td
								span.x16
									| 7 000 
									span.rubl
										| q
								|  за сваю
							td
								b.x18
									| 6 500 
									span.rubl
										| q
								|  за сваю
							td
								b.x20
									| 6 000 
									span.rubl
										| u 
								|  за сваю
						tr.addition
							td
								b.text-uppercase
									| Цена с доставкой в район до 50 км
							td
								| 7 800 
								span.rubl
									| q
								|  за сваю
							td
								span.x16
									| 7 300 
									span.rubl
										| q
								|  за сваю
							td
								b.x18
									| 6 800 
									span.rubl
										| q
								|  за сваю
							td
								b.x20
									| 6 300 
									span.rubl
										| u 
								|  за сваю
						tr.addition
							td
								b.text-uppercase
									| Цена с доставкой в район до 50-100 км
							td
								| 8 000 
								span.rubl
									| q
								|  за сваю
							td
								span.x16
									| 7 500 
									span.rubl
										| q
								|  за сваю
							td
								b.x18
									| 7 000 
									span.rubl
										| q
								|  за сваю
							td
								b.x20
									| 6 500 
									span.rubl
										| u 
								|  за сваю
						tr.addition
							td
								b.text-uppercase
									| Цена с доставкой в район до 100-200 км
							td
								| 8 300 
								span.rubl
									| q
								|  за сваю
							td
								span.x16
									| 7 800 
									span.rubl
										| q
								|  за сваю
							td
								b.x18
									| 7 300 
									span.rubl
										| q
								|  за сваю
							td
								b.x20
									| 6 800 
									span.rubl
										| u 
								|  за сваю
				p.price__slogan.wow.bounceInUp(data-wow-duration="2s")
					| Чтобы узнать стоимость сваи с установкой за городом, 
					br
					| наведите курсор на интересующий размер ЖБ свай.
				a(href="#call").btn.btn-green.btn-arrow.price__btn.fancy.wow.pulse(data-wow-iteration="3", data-wow-duration="2s")
					| Заказать



