.reviews
	.container
		.row
			.col-xs-14
				h2.text-uppercase.header-decoration.reviews__title.wow.bounce(data-wow-duration="2s")
					| Слово заказчикам
				p.reviews__slogan.wow.bounceInUp(data-wow-duration="2s")
					| За год применения такой технологии в частном домостроении 
					br
					| построено более 200 домов, и вот малая часть отзывов наших заказчиков:
				.reviews__slider
					div
						.reviews__slide-desc
							| Долго не мог выбрать на каком фундаменте остановиться. Связался с разными компаниями и каждая из них, конечно настаивала на своем варианте. Но СВАЯЖ делали это как то убедительнее и просто по человечески приятнее) Остановил выбор на них и остался крайне очень доволен! Если собрались строиться обращайтесь к ним смело!
					div
						.reviews__slide-desc
							| Мы не первый раз обращаемся к ООО СваяЖ, как к подрядчику. Повторное обращение, собственно, и есть лучший отзыв! Каждая работа была сдана точно в срок, с соблюдением всех изначальных договоренностей, на первоклассном уровне. Благодарим за сотрудничество, обратимся снова!
					div
						.reviews__slide-desc
							| Я за свою жизнь посталкивался с последствиями плохого фундамента. А тут пришел черед себе дом строить. Долго голову ломал как бы сделать добротно, а тут мужики рассказали, что появилась компания забивающая сваи и для простых людей. Ну я и обратился! Мне быстренько цену прикинули – вышло даже меньеш, чем я думал. Заказал, а уже к следующему вечеру готов был фундамент! Привезли утром сваи и машину сваибойную какую-то компактную – ни одни уши соседей ни пострадали и грунт цел. За день все и сделали. Одно слово – спецы!
				.reviews__names
					div
						| Сергей
					div
						| ООО
					div
						| Вячеслав Игоревич