.steps
	.container
		.row
			.col-xs-14
				h2.header-decoration.text-uppercase.steps__title.wow.bounce(data-wow-duration="2s")
					| 4 шага к фундаменту
				.steps__items.clearfix
					.steps__item.wow.bounceInLeft(data-wow-duration="2s")
						.steps__item-pr
							span.i-steps-1
						.steps__item-title
							| Звонок
						.steps__item-desc
							| Свяжитесь с нами 
							| сразу или закажите 
							| звонок на удобное 
							| для Вас время.
					.steps__item.wow.bounceInLeft(data-wow-delay="0.1s", data-wow-duration="2s")
						.steps__item-pr
							span.i-steps-2
						.steps__item-title
							| Обсуждение
						.steps__item-desc
							| Мы изучим все 
							| детали проекта и 
							| предложим Вам 
							| несколько вариантов 
							| по его реализации и, 
							| придя к соглашению, 
							| подписываем договор.
					.steps__item.wow.bounceInLeft(data-wow-delay="0.2s", data-wow-duration="2s")
						.steps__item-pr
							span.i-steps-3
						.steps__item-title
							| Выезд
						.steps__item-desc
							| В оговорённое время 
							| доставляем сами сваи и 
							| сваебойную установку 
							| на Ваш участок 
							| и приступаем.
					.steps__item.wow.bounceInLeft(data-wow-delay="0.3s", data-wow-duration="2s")
						.steps__item-pr
							span.i-steps-4
						.steps__item-title
							| Фундамент
						.steps__item-desc.
							Делаем разметку 
							свайного поля, забиваем 
							сваи. Продолжать 
							строительство 
							можно сразу.
				p.steps__slogan.wow.bounceInUp
					| Таким образом от Вашего решения до готового фундамента 
					br
					| может пройти всего пара дней!
				a.steps__btn.btn.btn-arrow.btn-green.fancy.wow.pulse(href="#call", data-wow-iteration="3", data-wow-duration="2s")
					| Заказать звонок

