.steps
	.container
		.row
			.col-xs-14
				h2.header-decoration.text-uppercase.steps__title.wow.bounce(data-wow-duration="2s")
					| Как мы работаем
				.steps__items.clearfix
					.steps__item.wow.bounceInLeft(data-wow-duration="2s")
						.steps__item-pr
							span.i-steps-1
						.steps__item-title
							| Звонок
						.steps__item-desc
							| Вы связываетесь с нами любым доступным способом и мы договоримся о встрече
					.steps__item.wow.bounceInLeft(data-wow-delay="0.1s", data-wow-duration="2s")
						.steps__item-pr
							span.i-steps-2
						.steps__item-title
							| Обсуждение
						.steps__item-desc
							| Вы приезжаете к нам в офис и мы обсуждаем все детали проекта. 
					.steps__item.wow.bounceInLeft(data-wow-delay="0.2s", data-wow-duration="2s")
						.steps__item-pr
							span.i-steps-3
						.steps__item-title
							| Выезд
						.steps__item-desc
							| Мы приезжаем на Ваш участок для осмотра и последующего заключения договора. 
					.steps__item.wow.bounceInLeft(data-wow-delay="0.3s", data-wow-duration="2s")
						.steps__item-pr
							span.i-steps-4
						.steps__item-title
							| Строительство
						.steps__item-desc
							| Строим надежный фундамент для Вашего дома. 
				p.steps__slogan.wow.bounceInUp
					| Заказав фундамент у нас Вы исключите трудоемкие этапы работы, оптимизируете строительный процесс и сохраните ландшафт участка.
				a.steps__btn.btn.btn-arrow.btn-green.fancy.wow.pulse(href="#call", data-wow-iteration="3", data-wow-duration="2s")
					| Заказать фундамент

