.story
	.container
		.row
			.col-xs-14
				h2.story__title.text-uppercase.header-decoration.wow.bounce(data-wow-duration="2s")
					| Немного истории
				.story__items
					.story__item.wow.pulse(data-wow-iteration="1", data-wow-duration="2s")
						.story__item-pr
							span.i-whoop
						.story__item-desc
							| До середины XIX века сваи изготавливались исключительно из дерева. На них были построены многие мировые памятники архитектуры. 
					.story__item.wow.pulse(data-wow-iteration="1", data-wow-delay="2s", data-wow-duration="2s")
						.story__item-pr
							span.i-whoop
						.story__item-desc
							|В 1828г. русский военный специалист Маслов сконструировал первый механический копер для погружения свай. По существу, с этого момента началась история широкого развития свайных фундаментов. 
					.story__item.wow.pulse(data-wow-iteration="1", data-wow-delay="1s", data-wow-duration="2s")
						.story__item-pr
							span.i-whoop
						.story__item-desc
							| В 2014г. появилась первая в мире модель компактной сваебойки на гусеничном ходу, сохраняющая целостность участка. 