.story
	.container
		.row
			.col-xs-14
				h2.story__title.text-uppercase.header-decoration.wow.bounce(data-wow-duration="2s")
					| Немного истории
				.story__items
					.story__item.wow.pulse(data-wow-iteration="1", data-wow-duration="2s")
						.story__item-pr
							span.i-whoop
						.story__item-desc
							| Почему железобетонные сваи с прошлого века используются при строительстве подавляющего большинства многоэтажных домов? Потому что это самый надёжный вариант!
					.story__item.wow.pulse(data-wow-iteration="1", data-wow-delay="2s", data-wow-duration="2s")
						.story__item-pr
							span.i-whoop
						.story__item-desc
							| Почему до недавнего времени в частном и малоэтажном строительстве использовались только винтовые и буронабивные сваи? Потому что не было подходящей технологии установки ЖБ свай!
					.story__item.wow.pulse(data-wow-iteration="1", data-wow-delay="1s", data-wow-duration="2s")
						.story__item-pr
							span.i-whoop
						.story__item-desc
							| С помощью нашей мобильной сваебойной установки, Вы получите железобетонный фундамент уже через 1-2 дня!