.think
	.container
		.row
			.col-xs-14
				//- h3.think__slogan.wow.boundeInLeft(data-wow-duration="2s")
					| У нас сейчас скидки при заключении договора до 31.12.2016 
					b
						| 15%
					//- |  с 01.01.2017 по 16.01.2017 – 
					//- b
					//- 	| 10%
					//- |  и с 17.01.2017 по 31.01.2017 – 
					//- b
					//- 	| 5%
				a(href="#call").btn.btn-white.btn-arrow.think__btn.fancy.wow.pulse(data-wow-iteration="3", data-wow-duration="2s")
					| Обсудить детали