.think
	.container
		.row
			.col-xs-14
				p.think__slogan.wow.bounceInLeft(data-wow-duration="2s")
					| Ну как? Вы ещё думаете, или уже перейдём 
					br
					| к обсуждению фундамента?
				a(href="#call").btn.btn-white.btn-arrow.think__btn.fancy.wow.pulse(data-wow-iteration="3", data-wow-duration="2s")
					| Обсудить детали