mixin work-item(data)
	div
		.work__slide
			img.work__slide-img(data-lazy='images/work/' + data.n + '.jpg', alt="")
			a.work__slide-text.fancy(href='images/work/full/' + data.n + '.jpg', data-fancybox-group="gallery")
				.work__slide-desc
					.work__slide-date
						| #{data.date}
					.work__slide-comment
						| #{data.comment}
include items.jade
.work
	.container
		.row
			.col-xs-14
				h2.work__title.header-decoration.text-uppercase.wow.bounce(data-wow-duration="2s")
					| Наши работы
				.work__filters
					span.work__filter(data-href="#tab-1")
						| Фотографии
					span.work__filter.active(data-href="#tab-2")
						| Видео с объектов
					span.work__filter(data-href="#tab-1,#tab-2")
						| Фото и видео
	.clearfix#tab-1
		.work__slider
			#work__slider-1
				+work-item(items[7-1])
				+work-item(items[20-1])
				+work-item(items[39-1])
				+work-item(items[13-1])
				+work-item(items[43-1])
				+work-item(items[30-1])
				+work-item(items[28-1])
				+work-item(items[22-1])
				+work-item(items[46-1])
				+work-item(items[52-1])
				+work-item(items[21-1])
				+work-item(items[41-1])
				+work-item(items[47-1])
				+work-item(items[4-1])
				+work-item(items[36-1])
				+work-item(items[11-1])
				+work-item(items[6-1])
				+work-item(items[25-1])
				+work-item(items[10-1])
				+work-item(items[50-1])
				+work-item(items[29-1])
				+work-item(items[42-1])
				+work-item(items[9-1])
				+work-item(items[23-1])
				+work-item(items[37-1])
				+work-item(items[49-1])
				+work-item(items[2-1])
				+work-item(items[55-1])
				+work-item(items[56-1])
				+work-item(items[57-1])
				+work-item(items[61-1])
				+work-item(items[62-1])
				+work-item(items[65-1])
				+work-item(items[66-1])
				+work-item(items[67-1])
				+work-item(items[68-1])
				+work-item(items[69-1])
				+work-item(items[70-1])
				+work-item(items[80-1])
				+work-item(items[81-1])
				+work-item(items[82-1])
				+work-item(items[83-1])
				+work-item(items[84-1])
				+work-item(items[85-1])
				+work-item(items[86-1])
			#work__slider-2
				+work-item(items[45-1])
				+work-item(items[8-1])
				+work-item(items[27-1])
				+work-item(items[1-1])
				+work-item(items[53-1])
				+work-item(items[18-1])
				+work-item(items[14-1])
				+work-item(items[40-1])
				+work-item(items[51-1])
				+work-item(items[35-1])
				+work-item(items[3-1])
				+work-item(items[5-1])
				+work-item(items[48-1])
				+work-item(items[24-1])
				+work-item(items[34-1])
				+work-item(items[15-1])
				+work-item(items[44-1])
				+work-item(items[16-1])
				+work-item(items[32-1])
				+work-item(items[33-1])
				+work-item(items[54-1])
				+work-item(items[19-1])
				+work-item(items[26-1])
				+work-item(items[12-1])
				+work-item(items[38-1])
				+work-item(items[31-1])
				+work-item(items[17-1])
				+work-item(items[58-1])
				+work-item(items[59-1])
				+work-item(items[60-1])
				+work-item(items[63-1])
				+work-item(items[64-1])
				+work-item(items[71-1])
				+work-item(items[72-1])
				+work-item(items[73-1])
				+work-item(items[74-1])
				+work-item(items[75-1])
				+work-item(items[76-1])
				+work-item(items[77-1])
				+work-item(items[78-1])
				+work-item(items[79-1])
				+work-item(items[87-1])
				+work-item(items[88-1])
				+work-item(items[89-1])
				+work-item(items[1-1])
	.container#tab-2
		.row
			.col-xs-14
				.work__video
					iframe(width="560", height="315", src="https://www.youtube.com/embed/8Au7r4cGKPs", frameborder="0", allowfullscreen)
			