.work
	.container
		.row
			.col-xs-14
				h2.work__title.header-decoration.text-uppercase.wow.bounce(data-wow-duration="2s")
					| Наши работы
				.work__filters
					span.work__filter(data-href="#tab-1")
						| Фотографии
					span.work__filter.active(data-href="#tab-2")
						| Видео с объектов
					span.work__filter(data-href="#tab-1,#tab-2")
						| Фото и видео
	.clearfix#tab-1
		.work__slider
			#work__slider-1
				include items/7.jade
				include items/20.jade
				include items/39.jade
				include items/13.jade
				include items/43.jade
				include items/30.jade
				include items/28.jade
				include items/22.jade
				include items/46.jade
				include items/52.jade
				include items/21.jade
				include items/41.jade
				include items/47.jade
				include items/4.jade
				include items/36.jade
				include items/11.jade
				include items/6.jade
				include items/25.jade
				include items/10.jade
				include items/50.jade
				include items/29.jade
				include items/42.jade
				include items/9.jade
				include items/23.jade
				include items/37.jade
				include items/49.jade
				include items/2.jade
				include items/55.jade
				include items/56.jade
				include items/57.jade
				include items/61.jade
				include items/62.jade
				include items/65.jade
				include items/66.jade
				include items/67.jade
				include items/68.jade
				include items/69.jade
				include items/70.jade
			#work__slider-2				
				include items/45.jade
				include items/8.jade
				include items/27.jade
				include items/1.jade
				include items/53.jade
				include items/18.jade
				include items/14.jade
				include items/40.jade
				include items/51.jade
				include items/35.jade
				include items/3.jade
				include items/5.jade
				include items/48.jade
				include items/24.jade
				include items/34.jade
				include items/15.jade
				include items/44.jade
				include items/16.jade
				include items/32.jade
				include items/33.jade
				include items/54.jade
				include items/19.jade
				include items/26.jade
				include items/12.jade
				include items/38.jade
				include items/31.jade
				include items/17.jade
				include items/58.jade
				include items/59.jade
				include items/60.jade
				include items/63.jade
				include items/64.jade
				include items/71.jade
				include items/72.jade
				include items/73.jade
				include items/74.jade
				include items/75.jade
				include items/76.jade
	.container#tab-2
		.row
			.col-xs-14
				.work__video
					iframe(width="560", height="315", src="https://www.youtube.com/embed/8Au7r4cGKPs", frameborder="0", allowfullscreen)
			