doctype html
html(lang="ru")
	head
		include jade/head.jade
		include jade/scripts.jade
		include jade/metrika.html
	body
		.header--illusion
			.header--fixed
				include jade/header.jade
		include jade/main.jade
		include jade/future.jade
		include jade/choice.jade
		include jade/story.jade
		include jade/edge.jade
		include jade/think.jade
		include jade/price.jade
		include jade/work.jade
		include jade/steps.jade
		include jade/reviews.jade
		include jade/partners.jade
		include jade/header.jade
		include jade/hidden.jade
