{
  "name": "003-svayag",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [],
  "fileTree": {
    "expandedDirs": [],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "index.jade",
      "imports": [
        "jade/head.jade",
        "jade/metrika.html",
        "jade/header.jade",
        "jade/main.jade",
        "jade/future.jade",
        "jade/choice.jade",
        "jade/story.jade",
        "jade/edge.jade",
        "jade/think.jade",
        "jade/price.jade",
        "jade/work.jade",
        "jade/steps.jade",
        "jade/reviews.jade",
        "jade/partners.jade",
        "jade/hidden.jade",
        "jade/scripts.jade",
        "jade/items/7.jade",
        "jade/items/20.jade",
        "jade/items/39.jade",
        "jade/items/13.jade",
        "jade/items/43.jade",
        "jade/items/30.jade",
        "jade/items/28.jade",
        "jade/items/22.jade",
        "jade/items/46.jade",
        "jade/items/52.jade",
        "jade/items/21.jade",
        "jade/items/41.jade",
        "jade/items/47.jade",
        "jade/items/4.jade",
        "jade/items/36.jade",
        "jade/items/11.jade",
        "jade/items/6.jade",
        "jade/items/25.jade",
        "jade/items/10.jade",
        "jade/items/50.jade",
        "jade/items/29.jade",
        "jade/items/42.jade",
        "jade/items/9.jade",
        "jade/items/23.jade",
        "jade/items/37.jade",
        "jade/items/49.jade",
        "jade/items/2.jade",
        "jade/items/55.jade",
        "jade/items/56.jade",
        "jade/items/57.jade",
        "jade/items/61.jade",
        "jade/items/62.jade",
        "jade/items/65.jade",
        "jade/items/66.jade",
        "jade/items/67.jade",
        "jade/items/68.jade",
        "jade/items/69.jade",
        "jade/items/70.jade",
        "jade/items/80.jade",
        "jade/items/81.jade",
        "jade/items/82.jade",
        "jade/items/45.jade",
        "jade/items/8.jade",
        "jade/items/27.jade",
        "jade/items/1.jade",
        "jade/items/53.jade",
        "jade/items/18.jade",
        "jade/items/14.jade",
        "jade/items/40.jade",
        "jade/items/51.jade",
        "jade/items/35.jade",
        "jade/items/3.jade",
        "jade/items/5.jade",
        "jade/items/48.jade",
        "jade/items/24.jade",
        "jade/items/34.jade",
        "jade/items/15.jade",
        "jade/items/44.jade",
        "jade/items/16.jade",
        "jade/items/32.jade",
        "jade/items/33.jade",
        "jade/items/54.jade",
        "jade/items/19.jade",
        "jade/items/26.jade",
        "jade/items/12.jade",
        "jade/items/38.jade",
        "jade/items/31.jade",
        "jade/items/17.jade",
        "jade/items/58.jade",
        "jade/items/59.jade",
        "jade/items/60.jade",
        "jade/items/63.jade",
        "jade/items/64.jade",
        "jade/items/71.jade",
        "jade/items/72.jade",
        "jade/items/73.jade",
        "jade/items/74.jade",
        "jade/items/75.jade",
        "jade/items/76.jade",
        "jade/items/77.jade",
        "jade/items/78.jade",
        "jade/items/79.jade"
      ]
    },
    {
      "path": "jade/work.jade",
      "imports": [
        "jade/items/7.jade",
        "jade/items/20.jade",
        "jade/items/39.jade",
        "jade/items/13.jade",
        "jade/items/43.jade",
        "jade/items/30.jade",
        "jade/items/28.jade",
        "jade/items/22.jade",
        "jade/items/46.jade",
        "jade/items/52.jade",
        "jade/items/21.jade",
        "jade/items/41.jade",
        "jade/items/47.jade",
        "jade/items/4.jade",
        "jade/items/36.jade",
        "jade/items/11.jade",
        "jade/items/6.jade",
        "jade/items/25.jade",
        "jade/items/10.jade",
        "jade/items/50.jade",
        "jade/items/29.jade",
        "jade/items/42.jade",
        "jade/items/9.jade",
        "jade/items/23.jade",
        "jade/items/37.jade",
        "jade/items/49.jade",
        "jade/items/2.jade",
        "jade/items/55.jade",
        "jade/items/56.jade",
        "jade/items/57.jade",
        "jade/items/61.jade",
        "jade/items/62.jade",
        "jade/items/65.jade",
        "jade/items/66.jade",
        "jade/items/67.jade",
        "jade/items/68.jade",
        "jade/items/69.jade",
        "jade/items/70.jade",
        "jade/items/45.jade",
        "jade/items/8.jade",
        "jade/items/27.jade",
        "jade/items/1.jade",
        "jade/items/53.jade",
        "jade/items/18.jade",
        "jade/items/14.jade",
        "jade/items/40.jade",
        "jade/items/51.jade",
        "jade/items/35.jade",
        "jade/items/3.jade",
        "jade/items/5.jade",
        "jade/items/48.jade",
        "jade/items/24.jade",
        "jade/items/34.jade",
        "jade/items/15.jade",
        "jade/items/44.jade",
        "jade/items/16.jade",
        "jade/items/32.jade",
        "jade/items/33.jade",
        "jade/items/54.jade",
        "jade/items/19.jade",
        "jade/items/26.jade",
        "jade/items/12.jade",
        "jade/items/38.jade",
        "jade/items/31.jade",
        "jade/items/17.jade",
        "jade/items/58.jade",
        "jade/items/59.jade",
        "jade/items/60.jade",
        "jade/items/63.jade",
        "jade/items/64.jade",
        "jade/items/71.jade",
        "jade/items/72.jade",
        "jade/items/73.jade",
        "jade/items/74.jade",
        "jade/items/75.jade",
        "jade/items/76.jade"
      ]
    },
    {
      "path": "less/bootstrap.less",
      "imports": [
        "less/bootstrap/variables.less",
        "less/inc/variables.less"
      ]
    },
    {
      "path": "less/style.less",
      "imports": [
        "less/inc/fonts.less",
        "less/spritesmith/sprite.less",
        "bower/bootstrap/less/variables.less",
        "less/bootstrap/variables.less",
        "less/inc/variables.less",
        "bower/bootstrap/less/mixins.less",
        "less/inc/reset.less",
        "bower/bootstrap/less/utilities.less",
        "bower/bootstrap/less/mixins/hide-text.less",
        "bower/bootstrap/less/mixins/opacity.less",
        "bower/bootstrap/less/mixins/image.less",
        "bower/bootstrap/less/mixins/labels.less",
        "bower/bootstrap/less/mixins/reset-filter.less",
        "bower/bootstrap/less/mixins/resize.less",
        "bower/bootstrap/less/mixins/responsive-visibility.less",
        "bower/bootstrap/less/mixins/size.less",
        "bower/bootstrap/less/mixins/tab-focus.less",
        "bower/bootstrap/less/mixins/reset-text.less",
        "bower/bootstrap/less/mixins/text-emphasis.less",
        "bower/bootstrap/less/mixins/text-overflow.less",
        "bower/bootstrap/less/mixins/vendor-prefixes.less",
        "bower/bootstrap/less/mixins/alerts.less",
        "bower/bootstrap/less/mixins/buttons.less",
        "bower/bootstrap/less/mixins/panels.less",
        "bower/bootstrap/less/mixins/pagination.less",
        "bower/bootstrap/less/mixins/list-group.less",
        "bower/bootstrap/less/mixins/nav-divider.less",
        "bower/bootstrap/less/mixins/forms.less",
        "bower/bootstrap/less/mixins/progress-bar.less",
        "bower/bootstrap/less/mixins/table-row.less",
        "bower/bootstrap/less/mixins/background-variant.less",
        "bower/bootstrap/less/mixins/border-radius.less",
        "bower/bootstrap/less/mixins/gradients.less",
        "bower/bootstrap/less/mixins/clearfix.less",
        "bower/bootstrap/less/mixins/center-block.less",
        "bower/bootstrap/less/mixins/nav-vertical-align.less",
        "bower/bootstrap/less/mixins/grid-framework.less",
        "bower/bootstrap/less/mixins/grid.less"
      ]
    },
    {
      "path": "less/inc/fonts.less",
      "imports": [
        "less/inc/variables.less"
      ]
    }
  ],
  "projectView": {
    "selectedView": "log"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "html",
      "htm",
      "css",
      "rb",
      "php",
      "asp",
      "aspx",
      "cfm",
      "chm",
      "cms",
      "do",
      "erb",
      "jsp",
      "mhtml",
      "mspx",
      "pl",
      "py",
      "shtml",
      "cshtml",
      "cs",
      "vb",
      "vbs",
      "tpl",
      "ctp",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "json",
      "ts",
      "pug"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7880,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 100 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "hoist_funs": true,
      "keep_fargs": false,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "side_effects": true,
      "pure_getters": false,
      "negate_iife": true,
      "screw_ie8": false,
      "drop_console": false,
      "angular": false,
      "warnings": false,
      "pure_funcs": [],
      "global_defs": []
    },
    "output": {
      "quote_keys": false,
      "space_colon": true,
      "ascii_only": false,
      "unescape_regexps": false,
      "inline_script": false,
      "beautify": false,
      "bracketize": false,
      "semicolons": true,
      "comments": false,
      "preserve_line": false,
      "screw_ie8": false
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}