div
	.work__slide
		img.work__slide-img(src="images/work/47.jpg", alt="")
		a.work__slide-text.fancy(href="images/work/full/47.jpg", data-fancybox-group="gallery")
			.work__slide-desc
				.work__slide-date
					| Август 2016 год
				.work__slide-comment
					| дер. Новая Березовка