div
	.work__slide
		img.work__slide-img(src="images/work/61.jpg", alt="")
		a.work__slide-text.fancy(href="images/work/full/61.jpg", data-fancybox-group="gallery")
			.work__slide-desc
				.work__slide-date
					| Октябрь 2016 год
				.work__slide-comment
					| пос. Ждановский