div
	.work__slide
		img.work__slide-img(src="images/work/77.jpg", alt="")
		a.work__slide-text.fancy(href="images/work/full/77.jpg", data-fancybox-group="gallery")
			.work__slide-desc
				.work__slide-date
					| Декабрь 2016 год
				.work__slide-comment
					| Дер. Юловка