div
	.work__slide
		img.work__slide-img(src="images/work/81.jpg", alt="")
		a.work__slide-text.fancy(href="images/work/full/81.jpg", data-fancybox-group="gallery")
			.work__slide-desc
				.work__slide-date
					| Ноябрь 2016 год
				.work__slide-comment
					| Пос. Мыс